.container {
    color: white;
    height: 1000px;
}

header {
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    background-image: url('Kuvat/pexels-victorfreitas-841130.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    size: auto;
}

.header-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
    margin: 20px;
    height: 1000px;
    width: 1500px;
}